:root { 
  --primary-color: #000000; 
  --neutral-color: #ffffff; 
  --secondary-color: #f76300; 

  --font-heading: 'Cabin Sketch', sans-serif;
  --font-body: 'Quicksand', sans-serif;

  --font-size-body: 1rem;
  --font-size-h3: 1.25rem;
  --font-size-h2: 1.5rem;
  --font-size-h1: 2.5rem;

--border-scribble: url('images/scribble-border.svg') 30 / 2rem / 0 round;
} 

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  background-color: var(--neutral-color);
  color: var(--primary-color);
  width: 100%;
  margin: 0;
}

main {
  padding: 0.5rem;
}

h1 {
  font-family: var(--font-heading);
  font-weight: bold;
  color: var(--primary-color);
  font-size: var(--font-size-h1);
  text-align: center;
}

h2 {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: var(--font-size-h3);
}

.scribble-box {
  border-image: var(--border-scribble);
  border-style: solid;
  border-width: 0.5rem;
}

.btn {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  background-color: var(--neutral-color);
  color: var(--primary-color);
  padding: 0rem 0.5rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn-orange {
  background-color: var(--secondary-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem  0.5rem 0.5rem;
  background-color: var(--neutral-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo {
  color: var(--secondary-color);
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: bold;
  text-decoration: none;
}

header p {
  text-align: right;
  margin: 0;
}

/* Hamburger menu */
.menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu-overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 20;
}

.menu-toggle:checked ~ .menu-overlay {
  display: block;
}

header nav ul {
 flex-direction: column;
 list-style: none;
 margin: 0;
 padding: 0;  
  width: 100%;
  background-color: var(--neutral-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
header nav  {
 position: absolute;
 top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}
.menu-toggle:checked ~ nav ul {
  max-height: 500px; 
  }

header nav ul li a{ 
  display: block;
  padding: 1rem;
  margin: 0.1rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  color: var(--primary-color);
  }

.hamburger-icon {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 40;
 }

.hamburger-icon img {
  display: block;
  width: 2rem;
  height: auto;
  padding-bottom: 0.2rem;
 }

/* Footer */

footer  {
  background-color: var(--primary-color);
  display: grid;  
  grid-template-columns: 1fr 1fr;
}

footer p  {
  padding-left: 0.5rem;
  color: var(--neutral-color);
}

.hours  {
  grid-column: 1;
  grid-row: 2;
}
 .location {
  grid-column: 1;
  padding-bottom: 2rem;
 }

 address {
     font-style: normal;
 }


address.location img {
  max-width: 60%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  padding-left: 0.5rem;
}
footer a {
  color: var(--neutral-color);
}

footer nav  {
  grid-column: 2;
  grid-row: 2;
  text-align: end;
}

footer nav li {
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.contact {
 
  padding-right: 0.5rem;
  grid-column: 2;
  text-align: end;
}
.social img {
  padding: 0.2rem;
}
/* Index*/
.hero {
  padding-top: 116px;
  position: relative;  
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero .btn {
  position: absolute;
  bottom: 2.5rem;
  left: 60%;
 } 

 .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 1rem;
  align-items: stretch;
}

.card a{ 
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--primary-color);
  /* height: 100%; */
  align-items: flex-start;
}

.card-text  {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: stretch;
  gap: 0.1rem;
}
.card-text h3 {
  margin: 0.5rem;
}

.card-text p {
  margin: 0.5rem;
}

.card a img {
  flex: 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  aspect-ratio: 1 / 1;
}

.card {
  padding: 0.2rem;
}

.index-h1 {
  color: var(--secondary-color);
}

.explore a {
  color: var(--primary-color);
}

summary {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  cursor: pointer;
  padding: 0.2rem;
}

summary::marker {
  color: var(--secondary-color);
}
/* .intro img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}  */


  /* HUSKELISTE

  index
  1. Tekst i knapp må ikke breake
  2. vurdere størrelse på .intro img
  3. legge ved bilde i explore section? 
  